
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 73%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 62.25%;
  }
}


@media only screen and (max-width: 450px) {
  html {
    font-size: 38.5%;
  }
}

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6;
}
